<section id="opening">
  <!-- <img src="/images/wires.jpg" alt="wires"> -->
  <ul id="landing-list">
    <li><a href="/products">Products</a></li>
    <li><a href="/products/new">Add product</a></li>
    <li><a href="/manufacturers">Manufacturers</a></li>
    <li><a href="/manufacturers/new">Add manufacturer</a></li>
  </ul>
</section>
