<!DOCTYPE html>
<html>
<head>
  <script src="https://kit.fontawesome.com/2f1bad2300.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">

  <!-- <link rel="icon" href="/images/hazard.png" /> -->

  <!-- <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <!-- <link rel="stylesheet" type="text/css" href="/styles/forms.css"> -->
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <header id="page-header">
    <section class="logo">
      <!-- <i class="fas fa-bolt"></i> -->
      <h1>Synthesiser Shop</h1>
    </section>
    <nav id="main-navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/manufacturers">Manufacturers</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </nav>
  </header>

  <main class="">
    <section id="opening">
      <img src="wires.jpg" alt="wires">
    </section>
    <section id="">
      <%= yield %>
    </section>
  </main>
</body>
</html>
