<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">

  <!-- <link rel="icon" href="/images/hazard.png" /> -->

  <!-- <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <!-- <link rel="stylesheet" type="text/css" href="/styles/forms.css"> -->
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <header id="page-header">
    <section class="logo">
      <h1>Synthesiser Shop</h1>
    </section>
    <nav class="nav_bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/manufacturers">Manufacturers</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </nav>
  </header>

  <main class="">

    <section id="">
      <%= yield %>
    </section>
  </main>
</body>
</html>
