<!DOCTYPE html>
<html>
<head>
  <title>Synthesiser Shop</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet"> -->

  <!-- <link rel="icon" href="/images/hazard.png" /> -->

  <!-- <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css"> -->
</head>
<body>
<main class="">
  <nav>
    <ul>
      <li>
        <a href="/manufacturers">Manufacturers</a>
      </li>
      <li>
        <a href="/products">Products</a>
      </li>
    </ul>
  </nav>
  <section id="">
  <%= yield %>
  </section>
  </main>
</body>
</html>
