<h1>Manufacturers</h1>

<ul>
  <%  @manufacturers.each do |manufacturer| %>
    <li>Name:<%= manufacturer.name %></li>
    <a href='/manufacturers/<%= manufacturer.id %>/edit'>Edit</a>
  <% end %>
</ul>

<h2><a href="/manufacturers/new"> Add new manufacturer </a></h2>
