<h1>New manufacturer</h1>

<form action="/manufacturers" method="post">
  <label for='name'>Specify manufacturer name:</label>
  <input type='text' name='name' id='name'></input><br>

  <label for='contact_name'>Specify contact name:</label>
  <input type='text' name='contact_name' id='contact_name'></input><br>

  <label for='contact_number'>Specify contact number:</label>
  <input type='text' name='contact_number' id='contact_number'></input><br>

  <input class="btn btn--action" type='submit' value="Add!" id='name'>
</form>
