main.nav_bar {
  background-color: #1CBAB2;
  display: inline;
}

body {
  animation: myanimation 10ms infinite;
  font-family: Arial;
  /* background-color: #93A8AC; */
}



/* @keyframes myanimation {
  0% {background-color: #330033;}
  25%{background-color: black;}
  50%{background-color:  #330033;}
  75%{background-color:black;}
  100% {background-color: #330033;}
} */
