td:hover {
          background-color: pink;
          opacity: 80%;
        }

.out-stock {
  background-color: #DE4437;
  /* color: #DE4437; */
}

.low-stock {
  background-color: #FFC107;
  /* color: #FFC107; */
}

.good-stock {
  background-color: #47C0A8;
  /* color: #47C0A8; */
}

#inventory-table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}

table {
  width: 100%;
}

th {
  height: 50px;
  background-color: white;
}

td {
  height: 40px;
}
